<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML para gerar o PDF</title>
</head>
<body>
    <h1>Texto legal <%=bah%> <%=coisa%></h1>
    <hr>
    <p><%=bah%> Esse texto foi feito com html <%=coisa%> :O </p>
</body>
</html>