<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>

    <div class="container">

        <section id="formulario-pergunta">

            <div class="card">
                <article>
                    <div class="card-header">

                        <h3>Realizar Pergunta</h3>
                    </div>
                </article>

                <div class="card-body">
                    <article>
                        <form method="post"  action="/salvarpergunta">
                            <label for="titulo-pergunta">Título</label>
                            <input name="titulo" type="text" placeholder="Título" id="titulo-pergunta" class="form-control">
                            <br>
                
                            <label for="pergunta">Descrição</label>
                            <textarea name="descricao" placeholder="Faça sua pergunta aqui" id="pergunta" cols="30" rows="10" class="form-control"></textarea>
                            <br>
                
                            <button class="btn btn-primary">Enviar</button>
                
                        </form>
                    </article>
                </div>
            </div>

        </section>
        
    </div>

</body>
<%- include('partials/footer.ejs');%>