<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Guia perguntas</title>

</head>

<body>
    <nav class="navbar navbar-light bg-dark">
        <a href="/" class="navbar-brand">
            <img src="/assets/images/guia.png" alt="Logo guia do programador">
        </a>

    </nav>

    <div class="container">

        <section id="formulario-pergunta">

            <div class="card">
                <article>
                    <div class="card-header">

                        <h3>Realizar Pergunta</h3>
                    </div>
                </article>

                <div class="card-body">
                    <article>
                        <form action="">
                            <label for="titulo-pergunta">Título</label>
                            <input type="text" placeholder="Título" name="" id="titulo-pergunta" class="form-control">
                            <br>
                
                            <label for="pergunta">Descrição</label>
                            <textarea name="" placeholder="Faça sua pergunta aqui" id="pergunta" cols="30" rows="10" class="form-control"></textarea>
                            <br>
                
                            <button class="btn btn-primary">Enviar</button>
                
                        </form>
                    </article>
                </div>
            </div>

        </section>
        
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>