<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat com Socket.io</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/scripts/script-index.js" defer></script>
</head>
<body>
    <h1>Testando Socket.io</h1>
    <input type="text" id="palavra" placeholder="Digite algo">
    <br>
    <h3>resultado</h3>
    <strong id="resultado"></strong>
</body>
</html>